[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=firefox-pwa pwas https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=/home/pedro/.local/share/applications/icons/Discord.png
StartupNotify=true
