[Desktop Entry]
Version=1.0
Name=X
Comment=X
Exec=firefox-pwa pwas https://x.com/
Terminal=false
Type=Application
Icon=/home/pedro/.local/share/applications/icons/X.png
StartupNotify=true
